.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.canvas_control {
    border: 1px solid grey;
}

.canvas_result {
    border: 1px solid grey;
}